" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=8
set incsearch
set hlsearch
set ignorecase
set smartcase
set wrapscan

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

let mapleader = " "
let g:highlightedyank_highlight_duration = "150"
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
nnoremap <Space> <Nop>
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
nnoremap <C-l> :nohls<cr>
vnoremap p "_dP


nnoremap <expr> k (v:count == 0 ? 'gk' : 'k')
nnoremap <expr> j (v:count == 0 ? 'gj' : 'j')

vnoremap < <gv
vnoremap > >gv

nmap <leader>r <Action>(Run)
nmap <leader>d <Action>(Debug)
nmap K <Action>(ShowHoverInfo)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>z <Action>(ToggleDistractionFreeMode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
