#!/bin/sh

setxkbmap -layout us,ru -option grp:win_space_toggle
setxkbmap -option caps:swapescape
xinput --set-prop 'pointer:Logitech MX Master 3' 'libinput Accel Profile Enabled' 0, 1
xset r rate 250 25

flatpak run org.telegram.desktop -startintray &
flatpak run com.dropbox.Client &
blueman-applet &
picom &
